<div style="height:1000px; text-align: center; margin-top: 50px;">

<div style="">
	<div class="col col-lg-6">
		<img id="card-img-top" src="<%= @developer.profile_image.url %>" style="border-radius: 50%; height:150px; margin:30px;" />
		<h1 style="margin: 0px;"><%= @developer.name %></h1>
		<p style="margin: 20px;"><%= @developer.bio %></p>
		<p style=""><span class="glyphicon glyphicon-fire"></span> <b><%= @developer.CV_counter %> applications this month.</b></p>
		<p style=""><span class="glyphicon glyphicon-fire"></span> <b><%= @developer.side_project_counter %> side projects this month.</b></p>
		<p style=""><span class="glyphicon glyphicon-fire"></span> <b>Total: <%= @developer.points %></b></p>
		<a target="_blank" class= "btn" style="margin:20px; background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); padding: 10px; color: black; border: none;" href="<%= @developer.personal_website %>"><b>Personal website/blog.</b></a><br>
	</div>
	<div class="col col-lg-6" style="text-align: center; background-color: white;">
		<h3 style="padding-bottom: 30px;">Recent Activity</h3>
		<% @posts.each do |post| %>
			<% if post.kind == 'Job Application' %>
				<a href="/developers/show_profile?id=<%= Developer.find(JobApplication.find(post.application).developer).id %>"><img id="card-img-top" src="<%= Developer.find(JobApplication.find(post.application).developer).profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:10px;" /></a>
				<p style="margin: 0px; margin-top: 0px;"><b><%= Developer.find(JobApplication.find(post.application).developer).name %> just applied for a job: <%= Job.find(JobApplication.find(post.application).job).url %></b></p>
			<% elsif post.kind == 'Side Project' %>
				<a href="/developers/show_profile?id=<%= Developer.find(SideProject.find(post.side_project).developer_id).id %>"><img id="card-img-top" src="<%= Developer.find(SideProject.find(post.side_project).developer_id).profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:10px;" /></a>
					<p style="margin: 0px; margin-top: 0px;"><b><%= Developer.find(SideProject.find(post.side_project).developer_id).name %> just created a new side project: <%= SideProject.find(post.side_project).name %></b></p>
			<% end %>
		<% end %>


	</div>
</div>

<div class="col col-lg-12" style="margin-top: 50px;">
	<hr>
	<h1><%= @developer.name %>'s Side Projects</h1>
	<hr>

	<% @side_projects.each do |sp| %>
		<div class="col col-lg-12" style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); text-align: center; margin-left: auto; margin-right: auto; display: block; align-self: center; margin-bottom: 20px;">
			<a style="color:black; text-decoration: none;" href="/side_projects/<%= sp.id %>" ><img id="card-img-top" src="<%= sp.image.url %>" style="height:50px; margin:20px;" /><b><%= sp.name %> </b>- <%= sp.description %></a>
			
		</div>
	<% end %>

</div>