<h1 style="text-align: center; margin:30px;">Front Page 😜</h1>
<hr>
<p style="text-align: center;"><b>This is where we keep each other accountable.</b></p>
<hr>

<div class="col col-lg-4" style="text-align: center; background-color: white;">
	<h3 style="padding-bottom: 30px;">Leaderboard <span style="font-size: 16px; color: grey;">(April '18)</span></h3> 
	<% @developers.each do |developer| %>
	<div style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); padding: 10px; margin: 10px; font-size: 11px;">
		<a href="/developers/show_profile?id=<%= developer.id %>"><img id="card-img-top" src="<%= developer.profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:0px;" /></a>
		<p style="font-size: 14px; margin: 0px; margin-top: 0px; margin: 5px;"><b><%= developer.name %></b></p>
		<p style="margin:0px; margin-top: 10px;"><span class="glyphicon glyphicon-fire"></span> <b><%= developer.CV_counter %> applications this month.</b></p>
		<p style="margin:0px;"><span class="glyphicon glyphicon-fire"></span> <b><%= developer.side_project_counter %> side projects this month.</b></p>
		<p style="margin:0px;"><span class="glyphicon glyphicon-fire"></span> <b>Total: <%= developer.points %> points</b></p>
	</div>
	<% end %>


</div>

<div class="col col-lg-8" style="text-align: center; background-color: white;">
	<h3 style="padding-bottom: 30px;">Recent Activity</h3>
	<% @posts.each do |post| %>
	<div style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); padding: 10px; margin: 10px;">
		<a href="/developers/show_profile?id=<%= post.developer %>"><img id="card-img-top" src="<%= Developer.find(post.developer).profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:10px;" /></a>
		<p style="margin: 0px; margin-top: 0px;"><b><%= post.body %></b></p>
	</div>
	<% end %>


</div>