<h1 style="text-align: center; margin:30px;">Front Page 😜</h1>
<hr>
<p style="text-align: center;"><b>This is where we keep each other accountable.</b></p>
<hr>

<div class="col col-lg-4" style="text-align: center; background-color: white;">
	<h3 style="padding-bottom: 30px;">Leaderboard <span style="font-size: 16px; color: grey;">(May '18)</span></h3> 
	<% @developers.each do |developer| %>
	<div style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); padding: 10px; margin: 10px; font-size: 11px;">
		<a href="/developers/show_profile?id=<%= developer.id %>"><img id="card-img-top" src="<%= developer.profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:0px;" /></a>
		<p style="font-size: 14px; margin: 0px; margin-top: 0px; margin: 5px;"><b><%= developer.name %></b></p>
		<p style="margin:0px; margin-top: 10px;"><span class="glyphicon glyphicon-fire"></span> <b><%= developer.CV_counter %> job applications this month.</b></p>
		<p style="margin:0px;"><span class="glyphicon glyphicon-fire"></span> <b><%= developer.side_project_counter %> new side projects this month.</b></p>
		<p style="margin:0px;"><span class="glyphicon glyphicon-fire"></span> <b>Total: <%= developer.points %> points</b></p>
	</div>
	<% end %>


</div>

<div class="col col-lg-8" style="text-align: center; background-color: white;">
	<h3 style="padding-bottom: 30px;">Recent Activity</h3>
	<% @posts.each do |post| %>
	<div style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); padding: 10px; margin: 10px;">
		

		<% if post.kind == 'Job Application' %>
			<a href="/developers/show_profile?id=<%= Developer.find(JobApplication.find(post.application).developer).id %>"><img id="card-img-top" src="<%= Developer.find(JobApplication.find(post.application).developer).profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:10px;" /></a>
			<p style="margin: 0px; margin-top: 0px;"><b><%= Developer.find(JobApplication.find(post.application).developer).name %> just applied for a job: <%= Job.find(JobApplication.find(post.application).job).url %></b></p>
		<% elsif post.kind == 'Side Project' %>
			<a href="/developers/show_profile?id=<%= Developer.find(SideProject.find(post.side_project).developer_id).id %>"><img id="card-img-top" src="<%= Developer.find(SideProject.find(post.side_project).developer_id).profile_image.url %>" style="border-radius: 50%; height:50px; margin-bottom:10px;" /></a>
				<p style="margin: 0px; margin-top: 0px;"><b><%= Developer.find(SideProject.find(post.side_project).developer_id).name %> just created a new side project: <%= SideProject.find(post.side_project).name %></b></p>
		<% end %>

	</div>
	<% end %>


</div>