<h1 style="text-align: center; margin:30px;">Side Projects</h1>
<hr>
<p style="padding-left: 10%; padding-right: 10%; text-align: center;"><b>While experienced programmers have their previous work experience to put down on their resume, us juniors have to prove we are capable of working for a company on our own. After talking to hiring managers at startups hiring juniors, I saw that they are looking for passionate people that are not afraid to get their hands dirty. In other words, side projects.</b></p>
<hr>
<div style="text-align: center; background-color: white;">

	<% @side_projects.each do |sp| %>
	<div style="background-image: linear-gradient(to bottom, #fff 0%, #cfd9df 100%);">
		<img id="card-img-top" src="<%= sp.image.url %>" style="border-radius: 50%; height:150px; margin:30px;" />
		<p style="margin: 0px; margin-top: 0px;"><b><%= sp.name %></b></p>
		<p style="margin: 30px;"><%= sp.description %> (<a href="/developers/show_profile?id=<%= sp.developer_id %>">Made by <%= Developer.find(sp.developer_id).name %></a>)</p>
		<a target="_blank" class="btn btn-primary" style="" href="<%= sp.website %>">View Details</a><br><br><br><hr>

		
		
	</div>
	<% end %>

</div>