<!DOCTYPE html>
<html>
<head>
  <title>Remote Junior Club</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="https://i.imgur.com/WnCI104.png">
</head>
<body>

<nav class="navbar navbar-static-top navbar-inverse" style="margin: 0px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-plane"></span> Remote Junior Club</a>
      </li>
      <li>
        <a href="/frontpage"><span class="glyphicon glyphicon-fire"></span> Front Page</a>
      </li>
      <li>
        <a href="/side_projects"><span class="glyphicon glyphicon-cog"></span> Side Projects</a>
      </li>
      <li>
        <a href="/developers"><span class="glyphicon glyphicon-user"></span> Developers</a>
      </li>
      <li>
        <a href='/chat'><span class="glyphicon glyphicon-heart"></span> Chat</a>
      </li>
      <li>
        <a href="/jobs"><span class="glyphicon glyphicon-globe"></span> Jobs</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !developer_signed_in? %>
        <li>
          <a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
        </li>
      <% else %>
        <li>
          <a href="/developers/profile"> My Profile</a>
        </li>      <% end %>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
